@import './_variables';

// text colors
.text-yellow {
    color: $yellow;
}

.text-white {
    color: $white;
}


.text-green {
    color: $green;
}

.text-blue {
    color: $blue;
}

.text-dark-gray {
    color: $dark-gray;
}

.text-peach {
    color: #f5a623;
}

.text-purple {
    color: #7b2ff7;
}



// background colors

.bg-yellow {
    background-color:$yellow;
}

.bg-white {
    background-color:$white;
}

.bg-black-pearl {
    background-color: $black_pearl;
}

.bg-stone {
    background-color: $stone;
}

.fill-dark_gray {
    fill: $dark_gray;
}



