@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap');
@import './_breakpoints';

@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: local('Monaco'), url('@/assets/fonts/Monaco.woff') format('woff');
}

$monaco-font: 'Monaco';

:root {
    --text-multiplier: 1;
    --heading-line-height:1;
}

@include for-tablet-portrait-only {
    :root{
        --text-multiplier: 0.81;
        --heading-line-height: 0.875;
    }

}

@include for-phone-only {
    :root {
        --text-multiplier: 0.54;
        --heading-line-height: 0.656;
    }

}

.ff-monaco {
  font-family: $monaco-font;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 800;
    font-size: calc(5.5rem * var(--text-multiplier));
    line-height: calc(6rem * var(--heading-line-height));
}

.text-body-regular {
    font-family: $monaco-font;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
}

.text-body-bold {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -0.01em;
}
