// Color variables
$yellow: #FFD700;
$black_pearl: #1B1B1B;
$oslo_gray: #79838B;
$gray: #B5BDC5;
$dark_gray: #7A7A7A;
$white: #FFF;
$green: #23CB23;
$blue: #71AAEA;
$peach: #F97583;
$purple: #B392F0;
$stone: #323232
